.profile-page {
  width: 50%;
  margin: auto;
  margin-top: 200px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-page h2 {
  text-align: center;
  margin-bottom: 20px;
}

.profile-page form {
  display: flex;
  flex-direction: column;
}

.profile-page label {
  margin-bottom: 5px;
  font-weight: bold;
}

.profile-page input[type="text"],
.profile-page input[type="file"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-page button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-page button:hover {
  background-color: #45a049;
}

.profile-page img {
  border-radius: 50%;
  margin-top: 10px;
}

.picture-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.picture-section > img {
  align-self: center;
}

@media (max-width: 450px) and (max-height: 950px) {
  .profile-page {
    padding: 4em 2em;
    width: 90%;
  }

  .profile-page > form {
    gap: 2em;
  }
}
